<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Аппендер для логирования в файл-->
    <appender name="FILE-AUDIT" class="ch.qos.logback.core.FileAppender">
        <file>logs/supplier.log</file>
        <append>false</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>


    <!-- Аппендер для консоли-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %msg%n
            </Pattern>
        </layout>
    </appender>


    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>